.button {
    background-color: var(--button-background);
    border-radius: var(--border-radius-md);
    box-sizing: border-box;
    color: var(--button-text);
    display: flex;
    font-family: var(--font-primary);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
    justify-content: center;
    padding: var(--spacing-sm) var(--spacing-lg);
    text-decoration: none;
    width: 100%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all 0.2s ease-in-out;
}

.button:hover,
.button-small:hover {
    background-color: var(--button-hover-background);
}

.button-small {
    @inherit: .button;

    font-size: var(--font-size-xs);
    padding: var(--spacing-xs) var(--spacing-md);
}

.button-small-light {
    @inherit: .button-small;

    background-image: var(--button-light-background);
    color: var(--button-light-text);
}

.button-small-light:hover {
    background-image: var(--button-light-hover-background);
}
