#companies > table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

#companies > table > thead {
    font-family: var(--font-secondary);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    background-color: var(--table-header-background);
}

#companies > table > thead > tr,
#companies > table > tbody > tr {
    border-bottom: 1px solid var(--table-border-color);
}

#companies > table > tbody > tr:hover {
    background-color: var(--table-row-hover);
}

#companies > table > thead > tr > th,
#companies > table > tbody > tr > td {
    padding: var(--spacing-md) var(--spacing-lg);
}



#companies > table > tbody td:nth-child(1) {
    text-align: center;
}

#companies > table > tbody td:nth-child(2) {
    text-align: left;
}

#companies > table > tbody td:nth-child(3) {
    text-align: left;
}

#companies > table > tbody td:nth-child(4) {
    text-align: left;
}

#companies > table > tbody > tr > td > a {
    width: 60px;
}

#companies > table > tbody > tr > td > input {
    display: flex;
    flex-direction: row;
}

#companies > table > tbody > tr > td > input {
    flex: 1;
    height: 2rem;
    border: 1px solid var(--input-border);
    border-radius: var(--border-radius-sm);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-sm);
    background-color: var(--input-background);
    color: var(--input-text);
    padding: 0 var(--spacing-xs);
}

#companies > table > tbody > tr > td:last-child, #companies > table > thead > tr > th:last-child {
    width: 1%;
    white-space: nowrap;
}

#companies > table > tbody > tr > td:last-child {
    display: flex;
    gap: var(--spacing-xs);
}
