<div id="companies">
  <div class="flex-table">
    <div class="flex-table-header">
      <div class="flex-row">
        <div class="flex-cell flex-cell-id">
          {{if eq .SortColumn "ID"}}
            {{if eq .SortDir "asc"}}
              <a href="#" hx-get="/companies?sort=ID&dir=desc" hx-target="#companies" hx-swap="outerHTML" hx-indicator="#loading"># ▲</a>
            {{else}}
              <a href="#" hx-get="/companies?sort=ID&dir=asc" hx-target="#companies" hx-swap="outerHTML" hx-indicator="#loading"># ▼</a>
            {{end}}
          {{else}}
            <a href="#" hx-get="/companies?sort=ID&dir=asc" hx-target="#companies" hx-swap="outerHTML" hx-indicator="#loading">#</a>
          {{end}}
        </div>
        <div class="flex-cell flex-cell-company">
          {{if eq .SortColumn "Company"}}
            {{if eq .SortDir "asc"}}
              <a href="#" hx-get="/companies?sort=Company&dir=desc" hx-target="#companies" hx-swap="outerHTML" hx-indicator="#loading">Company ▲</a>
            {{else}}
              <a href="#" hx-get="/companies?sort=Company&dir=asc" hx-target="#companies" hx-swap="outerHTML" hx-indicator="#loading">Company ▼</a>
            {{end}}
          {{else}}
            <a href="#" hx-get="/companies?sort=Company&dir=asc" hx-target="#companies" hx-swap="outerHTML" hx-indicator="#loading">Company</a>
          {{end}}
        </div>
        <div class="flex-cell flex-cell-contact">
          {{if eq .SortColumn "Contact"}}
            {{if eq .SortDir "asc"}}
              <a href="#" hx-get="/companies?sort=Contact&dir=desc" hx-target="#companies" hx-swap="outerHTML" hx-indicator="#loading">Contact ▲</a>
            {{else}}
              <a href="#" hx-get="/companies?sort=Contact&dir=asc" hx-target="#companies" hx-swap="outerHTML" hx-indicator="#loading">Contact ▼</a>
            {{end}}
          {{else}}
            <a href="#" hx-get="/companies?sort=Contact&dir=asc" hx-target="#companies" hx-swap="outerHTML" hx-indicator="#loading">Contact</a>
          {{end}}
        </div>
        <div class="flex-cell flex-cell-country">
          {{if eq .SortColumn "Country"}}
            {{if eq .SortDir "asc"}}
              <a href="#" hx-get="/companies?sort=Country&dir=desc" hx-target="#companies" hx-swap="outerHTML" hx-indicator="#loading">Country ▲</a>
            {{else}}
              <a href="#" hx-get="/companies?sort=Country&dir=asc" hx-target="#companies" hx-swap="outerHTML" hx-indicator="#loading">Country ▼</a>
            {{end}}
          {{else}}
            <a href="#" hx-get="/companies?sort=Country&dir=asc" hx-target="#companies" hx-swap="outerHTML" hx-indicator="#loading">Country</a>
          {{end}}
        </div>
        <div class="flex-cell flex-cell-employees">
          {{if eq .SortColumn "Employees"}}
            {{if eq .SortDir "asc"}}
              <a href="#" hx-get="/companies?sort=Employees&dir=desc" hx-target="#companies" hx-swap="outerHTML" hx-indicator="#loading">Employees ▲</a>
            {{else}}
              <a href="#" hx-get="/companies?sort=Employees&dir=asc" hx-target="#companies" hx-swap="outerHTML" hx-indicator="#loading">Employees ▼</a>
            {{end}}
          {{else}}
            <a href="#" hx-get="/companies?sort=Employees&dir=asc" hx-target="#companies" hx-swap="outerHTML" hx-indicator="#loading">Employees</a>
          {{end}}
        </div>
        <div class="flex-cell flex-cell-actions">Actions</div>
      </div>
    </div>
    <div class="flex-table-body" id="table-body">
      {{range .Companies}}
        {{ template "row.html". }}
      {{end}}
    </div>
  </div>
  <div class="add-box">
    <div class="add-button">
      <button
              class="button-append button"
              role="button"
              hx-get="/company/add"
              hx-target="#table-body"
              hx-swap="beforeend show:window:bottom"
              hx-indicator="#loading"
              href=""
      >
        Append
      </button>
    </div>
  </div>
</div>
