<div class="flex-row" id="datarow-{{.Company.ID}}">
  <div class="flex-cell flex-cell-id">{{.OrdinalID}}</div>
  <div class="flex-cell flex-cell-company">
    <input
      type="text"
      data-include-edit="{{.Company.ID}}"
      name="company"
      value="{{.Company.Company}}"
      autofocus
    />
  </div>
  <div class="flex-cell flex-cell-contact">
    <input
      type="text"
      data-include-edit="{{.Company.ID}}"
      name="contact"
      value="{{.Company.Contact}}"
    />
  </div>
  <div class="flex-cell flex-cell-country">
    <input
      type="text"
      data-include-edit="{{.Company.ID}}"
      name="country"
      value="{{.Company.Country}}"
    />
  </div>
  <div class="flex-cell flex-cell-employees">
    <input
      type="number"
      data-include-edit="{{.Company.ID}}"
      name="employees"
      value="{{.Company.Employees}}"
      min="1"
      required
    />
  </div>
  <div class="flex-cell flex-cell-actions">
    <a
      class="button-small-light"
      href=""
      hx-put="/company/{{.Company.ID}}"
      hx-target="#datarow-{{.Company.ID}}"
      hx-swap="outerHTML"
      hx-indicator="#loading"
      hx-include="input[data-include-edit='{{.Company.ID}}']"
      >Save</a
    >
    <a
      class="button-small-light"
      href=""
      hx-get="/company/{{.Company.ID}}"
      hx-target="#datarow-{{.Company.ID}}"
      hx-swap="outerHTML"
      hx-indicator="#loading"
      >Cancel</a
    >
  </div>
</div>
