<tr id="datarow-{{.ID}}">
  <td>{{.ID}}</td>
  <td>
    <input
      type="text"
      data-include-edit="{{.ID}}"
      name="company"
      value="{{.Company}}"
      autofocus
    />
  </td>
  <td>
    <input
      type="text"
      data-include-edit="{{.ID}}"
      name="contact"
      value="{{.Contact}}"
    />
  </td>
  <td>
    <input
      type="text"
      data-include-edit="{{.ID}}"
      name="country"
      value="{{.Country}}"
    />
  </td>
  <td>
    <a
      hx-put="/company/{{.ID}}"
      hx-target="#datarow-{{.ID}}"
      hx-swap="outerHTML"
      hx-indicator="#loading"
      hx-include="input[data-include-edit='{{.ID}}']"
      class="button-small"
      href=""
      >Save</a
    >
  </td>
  <td>
    <a
      hx-get="/company/{{.ID}}"
      hx-target="#datarow-{{.ID}}"
      hx-swap="outerHTML"
      hx-indicator="#loading"
      class="button-small"
      href=""
      >Cancel</a
    >
  </td>
</tr>
