<tr id="datarow-add">
  <td></td>
  <td>
    <input
      type="text"
      data-include-add=""
      name="company"
      value=""
      autofocus
    />
  </td>
  <td>
    <input
      type="text"
      data-include-add=""
      name="contact"
      value=""
    />
  </td>
  <td>
    <input
      type="text"
      data-include-add=""
      name="country"
      value=""
    />
  </td>
  <td>
    <a
      class="button-small"
      href=""
      hx-post="/company"
      hx-target="closest tr"
      hx-swap="outerHTML"
      hx-indicator="#loading"
      hx-include="input[data-include-add]"
      >Save</a
    >
  </td>
  <td>
    <a
      class="button-small"
      href=""
      hx-get="/company"
      hx-target="closest tr"
      hx-swap="delete"
      hx-indicator="#loading"
      >Cancel</a
    >
  </td>
</tr>
