<div class="flex-row" id="datarow-add">
  <div class="flex-cell flex-cell-id"></div>
  <div class="flex-cell flex-cell-company">
    <input
      type="text"
      data-include-add=""
      name="company"
      value=""
      autofocus
    />
  </div>
  <div class="flex-cell flex-cell-contact">
    <input
      type="text"
      data-include-add=""
      name="contact"
      value=""
    />
  </div>
  <div class="flex-cell flex-cell-country">
    <input
      type="text"
      data-include-add=""
      name="country"
      value=""
    />
  </div>
  <div class="flex-cell flex-cell-employees">
    <input
      type="number"
      data-include-add=""
      name="employees"
      value=""
      min="1"
      required
    />
  </div>
  <div class="flex-cell flex-cell-actions">
    <a
      class="button-small-light"
      href=""
      hx-post="/company?sort={{.SortColumn}}&dir={{.SortDir}}"
      hx-target="closest .flex-row"
      hx-swap="outerHTML"
      hx-indicator="#loading"
      hx-include="input[data-include-add]"
      >Save</a
    >
    <a
      class="button-small-light"
      href=""
      hx-get="/company?sort={{.SortColumn}}&dir={{.SortDir}}"
      hx-target="closest .flex-row"
      hx-swap="delete"
      hx-indicator="#loading"
      >Cancel</a
    >
  </div>
</div>
