<div class="flex-row" id="datarow-{{.Company.ID}}">
  <div class="flex-cell flex-cell-id">{{.OrdinalID}}</div>
  <div class="flex-cell flex-cell-company">{{.Company.Company}}</div>
  <div class="flex-cell flex-cell-contact">{{.Company.Contact}}</div>
  <div class="flex-cell flex-cell-country">{{.Company.Country}}</div>
  <div class="flex-cell flex-cell-employees">{{.Company.Employees}}</div>
  <div class="flex-cell flex-cell-actions">
    <a
      class="button-edit button-small-light"
      href=""
      hx-get="/company/edit/{{.Company.ID}}?sort={{.SortColumn}}&dir={{.SortDir}}"
      hx-target="#datarow-{{.Company.ID}}"
      hx-swap="outerHTML"
      hx-indicator="#loading"
    >
      Edit
    </a>
    <a
      class="button-delete button-small-light"
      href=""
      hx-delete="/company/{{.Company.ID}}?sort={{.SortColumn}}&dir={{.SortDir}}"
      hx-target="closest .flex-row"
      hx-swap="delete"
      hx-confirm="Are you sure you want to delete {{.Company.Company}}?"
      hx-indicator="#loading"
      >Delete</a
    >
  </div>
</div>
