<tr id="datarow-{{.Company.ID}}">
  <td>{{.OrdinalID}}</td>
  <td>{{.Company.Company}}</td>
  <td>{{.Company.Contact}}</td>
  <td>{{.Company.Country}}</td>
  <td>{{.Company.Employees}}</td>
  <td>
    <a
      class="button-edit button-small-light"
      href=""
      hx-get="/company/edit/{{.Company.ID}}"
      hx-target="#datarow-{{.Company.ID}}"
      hx-swap="outerHTML"
      hx-indicator="#loading"
    >
      Edit
    </a>
    <a
      class="button-delete button-small-light"
      href=""
      hx-delete="/company/{{.Company.ID}}"
      hx-target="closest tr"
      hx-swap="delete"
      hx-confirm="Are you sure you want to delete {{.Company.Company}}?"
      hx-indicator="#loading"
      >Delete</a
    >
  </td>
</tr>
